{
  "ingestArea": "/path/to/ingestArea",
  "userArea": "/path/to/userArea",
  "daweb": {
    "url": "http://daweb.url/daweb3",
    "user": "user",
    "password": "password"
  },
  "fedora": {
    "url": "http://fedora.url/fedora"
  }
}
